html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

img {
  width: 100%;
}

/*Navbar*/

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

.navbar {
  font-size: 1.1rem;
  font-weight: 600;
}

/*Jumbotron*/

.jumbotron {
  height: 44rem;
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow: -1px -1px 0 #000;
}

.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
}

.btn-primary {  /*Applies to all buttons on page*/
    width: 11.4rem;
    padding: 1.3rem 0;
    border: 0;
    margin-top: 2.8rem;
    background-color: #399bd1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    transition: box-shadow .5s;
}
.btn-primary:hover {  /*Applies to all buttons on page*/
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {  /*Applies to all buttons on page*/
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

.jumbotron-bike {
  background-image: url("../../resources/images/jumbotron-bike.jpg");
}

/*Featured Project Image (Applies to Images in Projects Sections As Well)*/

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: transform .5s, opacity .5s;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
}

/*Featured Project*/

.featured {
  margin-bottom: 20px;
}

.product h3 {
  color: #399bd1;
}

.product {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

/*Projects*/

.projects {
  margin-top: 50px;
}

/*Having Trouble?*/

.trouble {
  padding: 5.2rem 0;
  margin-top: 5.85rem;
  background-color: #f3f3f3;
}

.trouble .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trouble .container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
}

.trouble .container p {
  width: 42rem;
}
